<script lang="ts">
	import LinkIcon from "./LinkIcon.svelte";

	export let entry: Element;

	const link = `https://specialklassensordbog.dk/?filter=${entry
		.getElementsByTagName("word")[0]
		.textContent.trim()}`;

	// populate links:
	const populateLinks = (ele: Element) => {
		if (ele === undefined) return undefined;
		for (let child of ele.children)
			if (child.tagName === "a") {
				child.setAttribute(
					"class",
					"text-emerald-500 hover:text-emerald-700"
				);
				if (
					child.getAttribute("href") &&
					child.getAttribute("href").startsWith("https://")
				)
					continue;
				const href =
					child.getAttribute("href") ?? child.textContent.trim();
				child.setAttribute(
					"href",
					`?filter=${href.replaceAll("?filter=", "")}`
				);
			}
		return ele;
	};

	// convert new lines to <br>
	const convertNLtoBR = (html: string) => {
		return html.replaceAll("\n", "<br>").trim();
	};
</script>

<div
	class="w-11/12 md:w-2/3 lg:w-1/2 text-white bg-gray-800 rounded-md mb-8 relative"
>
	<h2 class="text-3xl p-6 pb-0 text-emerald-400 font-mono">
		{entry.getElementsByTagName("word")[0].textContent.trim()}
	</h2>

	<LinkIcon {link} />

	<p class="p-6 pt-0">
		{@html convertNLtoBR(
			populateLinks(entry.getElementsByTagName("definition")[0]).innerHTML
		)}
	</p>
	{#if entry.getElementsByTagName("alt_definition")[0]}
		<h3 class="px-6 pt-2 text-emerald-400 text-xl">Alternativ Betydning</h3>
		<p class="p-6 pt-2">
			{@html populateLinks(
				entry.getElementsByTagName("alt_definition")[0]
			).innerHTML}
		</p>
	{/if}
</div>
